.about {
    background-color: #2C3E50;
    color: white;
    a {
        color: white !important;
    }
}

main {
    .cards {
        .education {
            .card-content {
                .edu-info {
                    min-width: 600px;
                    .uni {
                        margin-bottom: 24px;
                    }
                    .uni,
                    .school {
                        display: flex;
                        justify-content: space-between;
                        .course {
                            max-width: 300px;
                            color: #34495e;
                            h1.course-title {
                                font-weight: 700;
                                font-size: 18px;
                                max-width: 300px;
                            }
                        }
                        .status {
                            width: 200px;
                            font-weight: 300;
                            p {
                                width: 200px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.badge {
    margin-top: 6px;
    padding: 6px !important;
    background-color: #34495e;
    color: white;
    display: inline-block;
    width: auto !important;
}

@media only screen and (max-width: 768px) {
    main {
        .cards {
            .education {
                .card-content {
                    .edu-info {
                        padding: 14px 0;
                        min-width: auto !important;
                        .uni,
                        .school {
                            flex-direction: column;
                            p {
                                padding: 8px 0;
                            }
                        }
                        .school {
                            margin-top: 14px;
                        }
                    }
                }
            }
        }
    }
}